<!-- registration-form.component.html -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="signup.component.scss">
  <title>Registration Form</title>
</head>
<body>
<div class="container">
  <div class="center">
    <h1>Register</h1>
    <form>
      <div class="txt_field">
        <input type="text" class="form-control" name="name" required>
        <span></span>
        <label>Name</label>
      </div>
      <div class="txt_field">
        <input type="text" class="form-control" name="fiscal-code" required>
        <span></span>
        <label>Code Fiscal</label>
      </div>
      <div class="txt_field">
        <input type="email" class="form-control" name="email" required>
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="text" class="form-control" name="address1" required>
        <span></span>
        <label>Adresse 1</label>
      </div>
      <div class="txt_field">
        <input type="text" class="form-control" name="address2" required>
        <span></span>
        <label>Adresse 2</label>
      </div>
      <div class="txt_field">
        <input type="text" class="form-control" name="city" required>
        <span></span>
        <label>Ville</label>
      </div>
      <div class="txt_field">
        <input type="text" class="form-control" name="postal-code" required>
        <span></span>
        <label>Code Postal</label>
      </div>
      <div class="txt_field">
        <input type="text" class="form-control" name="country" required>
        <span></span>
        <label>Pays</label>
      </div>
      <div class="txt_field">
        <input type="password" class="form-control" name="password" required>
        <span></span>
        <label>Password</label>
      </div>
      <div class="txt_field">
        <input type="password" class="form-control" name="confirm-password" required>
        <span></span>
        <label>Confirm Password</label>
      </div>
      <input type="submit" class="btn btn-primary" value="Sign Up">
      <div class="signup_link">
        Have an Account? <a href="login">Login Here</a>
      </div>
    </form>
  </div>
</div>
